{% extends "header.html" %}

{% block title %}Store{% endblock %}

{% block content %}

<div class="container">
    <a href="{% url 'search'%}"><button type="button" class="btn btn-primary btn-lg">Filter</button></a>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Category</th>
      <th scope="col">Product Name</th>
      <th scope="col">Size(Servings)</th>
    </tr>
  </thead>
  <tbody>

  {% for x in products %}
    <tr>
      {% load static %}
      <th scope="row"><img src="{{x.picture}}" style="width: 120px"></th>
      <td>{{x.category}}</td>
      <td>{{x.name}}</td>
      <td>{{x.size}}</td>
      <td><a href="{{x.pk}}"><button type="button" class="btn btn-primary btn-lg">Show details</button></a></td>

    </tr>
    
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
