{% extends "header.html" %}

{% block title %}
Article Details
{% endblock %}


{% block content %}
{% if article %}

<div class="container">
<div class="panel panel-primary">
	<div class="panel-heading">
	<h2>{{ article.title}}  </h2>
	</div>
  <div class="panel-body">
	<h4>{{ article.body}}  </h4>
  </div>
  <div class="panel-footer">
    <h5><i> Posted on: {{ article.date}} </i> </h5>
    <h6 class="text-right"><i>By: {{article.author}}</i></h6>
	</div>
</div>



<br>


<a href="newComment/"><button class="btn btn-primary" type="button" >

  Add Comment</button></a>
<a href="delete/">
<button type="button" class="btn btn-danger pull-right btn-md">Delete Post</button>
</a>
<div class="container">
{% for y in article.comment_set.all %}
<div class="well">
<h5>{{ y.text}}  </h5>
<h5><i>On: {{ y.date}}  </i></h5>
</div>
<br>
{% endfor %}
{% else %}
<div class="alert alert-danger" role="alert">There is no articles with the ID</div>
</div></div>
{% endif %}
{% endblock %}
